.icon-box-1 {
  border: 2px solid #ececec;
}
.iconbox-t-pading {
  padding: 5px 20px;
}
.iconbox-img {
  width: 60px;
  height: 60px;
  background-color: rgb(195, 195, 245);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
/* Solid border */
.iconbox-hr {
  margin: 10px 0;
  background-color: #fa7b1d;
}

.iconbox-btn {
  border: none;
  background-color: white;
  padding: 10px;
  color: rgb(204, 56, 2);
  font-weight: 600;
  margin-bottom: 30px;
}

@media (min-width: 0px) and (max-width: 600px) {
}
