.footer-contantant {
  width: 80%;
  padding: 40px 0 40px 30px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.footer-contact-box {
  width: 80%;
  padding: 20px;
}
.footer-about {
  width: 80%;
  font-size: 15px;
  line-height: 29px;
}
.contactus-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contactus-icon-list {
  display: flex;
  gap: 15px;
  font-size: 15px;
  align-items: center;
}
.useful {
  width: 80%;
  padding: 20px;
}
.usefull-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.usefull-list ul li:hover {
  color: #f46c00;
}
.query {
  width: 80%;
  padding: 20px;
}
.footer-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
}



@media (min-width: 0px) and (max-width: 600px) {
  .footer-box {
    width: 100vw;
    height: auto;
    background-color: #b80505;
  }
  .footer-contantant {
    width: 80%;
    padding: 40px 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .footer-contact-box {
    width: 80%;
    padding: 20px;
  }
  .footer-about {
    width: 100%;
    font-size: 15px;
    line-height: 29px;
  }
  .useful {
    width: 80%;
    padding: 20px;
  }
  .query {
    width: 80%;
    padding: 20px;
  }
  .footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
  }

  
}
