*{
    margin: 0;
    padding: 0;
}
 @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Philosopher';
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .pagination a {
    margin: 0 5px;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  

